html{
  background-image: url(../image/paper.jpg);
  background-size: 100%;

  }

  *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;

}

.header{
  min-height: 100vh;
  width: 100%;

}

nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
nav img{
  width: 100%;
}
.nav-link{
  flex: 1;
  text-align: right;
}
.nav-link ul li{
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}
.nav-link ul li a{
  color: rgb(80, 75, 70);
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}
.nav-link ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: rgb(65, 57, 55);
  display: block;
  margin: auto;
  transition: 0.5s;
}
.nav-link ul li:hover::after{
  width: 100%;
}


nav .fa{
  display: none;
}

@media(max-width: 700px){
  .nav-link ul li{
    display: block;
  }
  .nav-link{
    position: absolute;
    background: #fff;
    height: 100vh;
    width: 200px;
    top: 0px;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }
  nav .fa{
    display: block;
    color: #121212;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
  }
  .nav-link ul{
    padding: 30px;
  }
  }

  /*--form--*/

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, input, select, textarea {
  color: #5A5A5A;
  font: inherit;
  margin: 0;
}

input {
  line-height: normal;
}

textarea {
  overflow: auto;
}

#container {
  max-width: 768px;
  margin: 50px auto;
  position: relative;
}

form {
  padding: 37.5px;
  margin: 50px 0;
}

h1 {
  padding-top: 10PX;
  color:  #2f2e2e;
  font-size: 32px;
  letter-spacing: 7px;
  text-align: center;
  text-transform: uppercase;
}


.icon_wrapper {
  margin: 20px auto 0;
  width: 100%;
}

.icon {
  display: block;
  fill: #474544;
  margin: 0 auto;
  width: 150px;
}

.email {
	float: right;
	width: 45%;
}

input[type='text'], [type='email'], select, textarea {
	background: none;
  border: none;
	border-bottom: solid 2px rgb(126, 117, 116);
	color:  #2f2e2e;
	font-size: 1.000em;
  font-weight: 400;
  letter-spacing: 1px;
	margin: 0em 0 1.875em 0;
	padding: 0 0 0.875em 0;
  text-transform: uppercase;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

input[type='text']:focus, [type='email']:focus, textarea:focus {
	outline: none;

	padding: 0 0 0.875em 0;
}

.message {
	float: none;
}

.name {
	float: left;
	width: 45%;
}

select {
  background: url('https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-down-32.png') no-repeat right;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

.subject {
  width: 100%;
}

.telephone {
  width: 100%;
}

textarea {
	line-height: 150%;
	height: 150px;
	resize: none;
  width: 100%;
}

::-webkit-input-placeholder {
	color:  #2f2e2e;
}

:-moz-placeholder {
	color:  #2f2e2e;
	opacity: 1;
}

::-moz-placeholder {
	color: #2f2e2e;
	opacity: 1;
}

:-ms-input-placeholder {
	color: #2f2e2e;
}

#form_button {
  background: none;
  border: solid 2px #2f2e2e;
  color: #2f2e2e;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  outline: none;
  padding: 10px 34px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}

#form_button:hover {
  border: 1px solid #2f2e2e;
  background:#2f2e2e;
  color: rgb(242, 231, 227);
}

@media screen and (max-width: 768px) {
  #container {
    margin: 20px auto;
    width: 95%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 26px;
  }

  .underline {
    width: 68px;
  }

  #form_button {
    padding: 15px 25px;
  }
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 18px;
  }

  .icon {
    width: 80px;
    margin-bottom: 0;
  }

  .underline {
    width: 53px;
  }

  input[type='text'], [type='email'], select, textarea {
    font-size: 0.875em;
  }
}

/*-- footer --*/
.footer{
  margin-top: 70px;
  margin-bottom: 40px;
  text-align: center;
}

.footer p{
  font-size: 13px;
  font-weight: 200px;
  color: #858585;
}
